@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Playfair+Display|Muli|Playfair+Display&display=swap');

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");

@import url("sections/intro-section.css");
@import url("sections/testimonial.css");
@import url("sections/projects.css");
@import url("sections/contact-us.css");


html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Muli';
  height: 100%;
  margin: 0;
}
a {
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}


.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.code-language-icon{
  font-size: 42px;
}
.title-and-language{
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.title-and-language p {
  margin: 16px 16px 0 auto;
}
.small-line{
  height: 3px;
  width: 10%;
  margin-top: -18px;
  background: rgb(229,240,237);
}
.project-title{
  font-size: 28px;
  margin-right: 22px;
}
.intro-contant{
  padding-top: 10vh;
}
.example-of-work{
  display: flex;
}
.practico-computer{

}
.crown-clothing-computer{

}
.code-language{
  padding-bottom: 20px;
}



