@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Playfair+Display|Muli|Playfair+Display&display=swap');

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Muli';
  height: 100%;
  margin: 0;
}
a {
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

.banner {
  font-family: 'Open Sans';
  background: rgb(247,97,96);
  background: linear-gradient(180deg, rgba(247,97,96,1) 10%, rgba(245,115,115,1) 47%, rgba(247,97,96,1) 85%);
  height: 100vh;
  top: 0;
  overflow: hidden;
}
@media only screen and (min-width: 1050px) {
  .banner-X{
    display: none;
  }
  .banner-content{
    padding: 150px 0 0 0;

    text-align: center;
  }


  .banner h1 {
    margin: 10px auto;
    color: #F8C587;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 120px;
    font-weight: bold;
  }

  .banner p {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .omer {
    right:603px;
    bottom: 148px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 439px;
  }
  .omri {
    left: 565px;
    bottom: 125px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 500px;
  }
  .mobile-head{
    display: none;
  }
}


/********************************************  Mobile  ********************************************/
@media only screen and (max-width: 768px) {
  .banner-content{
    padding: 150px 0 0 0;

    text-align: center;

  }
  .banner h1 {
    margin: 10px auto;
    color: #F8C587;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 80px;
    font-weight: bold;
  }

  .banner p {
    font-size: 24px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .omer {
    display: none;
  }
  .omri {
    display:none;
  }
  .mobile-head-omer {
    right:10px;
    top: 10px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 150px;
  }
  .mobile-head-omri {
    right: 5px;
    top: 10px;
    position: relative;
    padding: 0;
    margin: 0;
    width: 150px;
  }

}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.code-language-icon{
  font-size: 42px;
}
.title-and-language{
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}

.title-and-language p {
  margin: 16px 16px 0 auto;
}
.catch-phrase{
  font-family: "Open Sans";
  font-size: 34px;
}
.small-line{
  height: 3px;
  width: 10%;
  margin-top: -18px;
  background: rgb(229,240,237);
}
.project-title{
  font-size: 28px;
  margin-right: 22px;
}
.intro-contant{
  padding-top: 10vh;
}
.example-of-work{
  display: flex;
}
.practico-computer{

}
.crown-clothing-computer{

}
.code-language{
  padding-bottom: 20px;
}

/************************************ INTRO SECTION CSS ************************************/
#intro {
  height: 100vh;
  margin-bottom: 70px;
  background-color: '#FDD5D5';
}

@media only screen and (min-width: 768px) {
  #intro img{
    margin-top: 16px;
    width: 18%;
  }
}
@media only screen and (max-width: 768px) {
  #intro img{
    margin-top: 16px;
    width: 30%;
  }
  .btn-link{
    display: table !important;
    margin: 0 auto !important;
    margin-top: 34px !important;
  }
  .example-of-work{
    flex-direction: column;
  }
  .title-and-language p{
    margin: 16px 10px 0 5px;
  }
  .practico-computer{
    margin: 65px auto;
    width: 70%!important;
  }
  .crown-clothing-computer{
    margin: 65px auto;
    width: 70%!important;
  }
  .marqit-computer{
    margin-right: auto !important;
    margin-left: auto !important;
    margin: 65px auto;
    width: 35%!important;
  }
  .parqit-computer{
    margin-right: auto !important;
    margin-left: auto !important;
    margin: 65px auto;
    width: 35%!important;
  }
  .siesta-computer{
    margin: 65px auto;
    width: 70%!important;
  }
  .bitrawr-computer{
    margin: 65px auto;
    width: 70%!important;
  }
}
.btn-projects{
   background-color: #F66D6C;
   color:white;
   margin-top: 48px;
   margin-bottom: 0;
   margin-right: 4px;
}
.btn-projects:hover{
   color:white;
   opacity: 0.7;
}
.btn-contact{
   background-color: '#FDD5D5';
   color: #F66D6C;
   margin-top: 48px;
   margin-bottom: 0;
   margin-left: 4px;
   border: 1px solid  #F66D6C;
}
.btn-contact:hover{
   color: #F66D6C;
   opacity: 0.7;
}


/*****************************************************************************************/

/************************************ TESTIMONIAL CSS **************************************/

.testimonial-avatar{
  margin-bottom: 32px;
  width: 84px;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .testimonial{
    padding: 10vh 20%;
  }
  .testimonial h3 {
    font-family: 'Playfair Display';
    font-size: 24px;
  }
  .testimonial h5 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  #intro img{
    width: 60%;
  }
  #practico{
    height: 20vh !important;
  }
  .example-of-work{
    flex-direction: column;
  }
  .practico-computer{
    width: 100% !important;
    margin: 65px auto;
  }
  .crown-clothing-computer{
    width: 100% !important;
    margin: 65px auto;
  }
  .marqit-computer{
    width: 42% !important;
    margin: 65px auto;
  }
  .parqit-computer{
    width: 42% !important;
    margin: 65px auto;
  }
  .siesta-computer{
    width: 100% !important;
    margin: 65px auto;
  }
  .bitrawr-computer{
    width: 100% !important;
    margin: 65px auto;
  }
  .form-container{
    padding: 12px !important;
  }
  #intro{
    height: 100vh;
  }
  .btn-contact{
    margin-top: 24px;
  }
  .testimonial{
    padding: 10vh 5%;
  }
}

.name-of-testimonial{
  color: gray;
}
/*****************************************************************************************/

/************************************ PARQIT CSS **************************************/
#parqit{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(84,222,226);
  background: linear-gradient(45deg, rgba(84,222,226,1) 20%, rgba(73,206,209,1) 40%, rgba(31,174,177,1) 54%);
  overflow: hidden;
}
#parqit img{
  margin-left: auto;
  margin-right: 10%;
  width: 20%;
  object-fit: contain;
}
#parqit .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#parqit .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#parqit .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ CRWN CLOTHING CSS **************************************/
#crwn-clothing{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(45,45,45);
  background: linear-gradient(45deg, rgba(45,45,45,1) 20%, rgba(60,60,60,1) 50%, rgba(79,79,79,1) 64%, rgba(93,93,93,1) 76%, rgba(93,93,93,1) 86%);
  overflow: hidden;
}
#crwn-clothing img{
  margin-left: auto;
  width: 40%;
  object-fit: contain;
}
#crwn-clothing .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#crwn-clothing .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#crwn-clothing .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ MARQIT CSS **************************************/
#marqit{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(117,217,255);
  background: linear-gradient(45deg, rgba(117,217,255,1) 16%, rgba(98,207,247,1) 32%, rgba(65,200,249,1) 57%);
  overflow: hidden;
}
#marqit img{
  margin-left: auto;
  margin-right: 10%;
  width: 20%;
  object-fit: contain;
}
#marqit .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#marqit .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#marqit .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ PRACTICO CSS ************************************/
#practico{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(57,203,218);
  background: linear-gradient(45deg, rgba(57,203,218,1) 21%, rgba(42,201,217,1) 34%, rgba(55,163,174,1) 57%);
  overflow: hidden;
}
#practico .container{

}
#practico img{
  margin-left: auto;
  width: 40%;
  object-fit: contain;
}
#practico .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#practico .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#practico .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ BITRAWR CSS ************************************/
#bitrawr{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(63,141,191);
  background: linear-gradient(45deg, rgba(63,141,191,1) 29%, rgba(23,127,194,1) 38%, rgba(0,91,150,1) 57%);
  overflow: hidden;
}
#bitrawr img{
  margin-left: auto;
  width: 40%;
  object-fit: contain;
}
#bitrawr .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#bitrawr .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#bitrawr .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ SIESTA FIESTA CSS ************************************/
#siesta-fiesta{
  color: white;
  padding: 16px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: rgb(21,102,113);
  background: linear-gradient(45deg, rgba(21,102,113,1) 20%, rgba(7,77,87,1) 44%, rgba(2,43,49,1) 65%);
  overflow: hidden;
}
#siesta-fiesta img{
  margin-left: auto;
  width: 40%;
  object-fit: contain;
}
#siesta-fiesta .project-description {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
#siesta-fiesta .btn-link {
  color:white;
  padding: 1rem 3.5rem;
  border-radius: 0;
  border: 1px white solid;
}
#siesta-fiesta .btn-link:hover {
  text-decoration: none;
  opacity: 0.7;
  color:white;
}
/*************************************************************************************/

/************************************ CONTACT US CSS ************************************/
#contact-us{
  height: 100vh;
  background-color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .contact-us-image{
    width: 300px;
    margin: 10px 30%;
  }
}
@media only screen and (max-width: 768px) {
  .contact-us-image{
    width: 70%;
    margin: 10px 15%;
  }
}


.form-container{
  background-color: #F5F5F5;
  padding: 48px;
}

.submit-form{
  color: white;
  background-color: #F67273;
}
.submit-form:hover{
  color: white;
  opacity: 0.7;
}
/***************************************************************************************/
